In [2]:
import sys
sys.path.append("/home/sagus/Development/Calibracion-Temperatura/src")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta

In [24]:
def fromCSVtoDF(csvpath):
    """ Obtirene un path a un csv de una AWS
    y lo convierte en un df con su valores en float
    """
    try:
        csv_data = pd.read_csv(csvpath)
    except IOError:
        print("Error: File does not appear to exist.")

    dfData = pd.DataFrame(dtype=float)
    dfData['date'] = pd.to_datetime((csv_data['FECHA'] + ' ' + csv_data['HORA']), format='%d/%m/%Y %H:%M')
    dfData['Estacion'] = csv_data['ESTACION']
    # dfData['ppn'] = csv_data['Registro de Lluvia [mm]']
    dfData['Temp'] = csv_data['TEMPERATURA']
    # dfData['Temp'][dfData['Temp'] == '---'] = np.nan
    dfData.loc[dfData['Temp'] == '---'] = np.nan
    dfData['Temp'] = dfData['Temp'].astype(float)

    return dfData.set_index('date')

In [25]:
base = '/home/sagus/Descargas/'
filename2019 = 'Temperaturas Historico_2019.csv'
filename2020 = 'Temperaturas Historico_2020.csv'
path2019 = f"{base}{filename2019}"
path2020 = f"{base}{filename2020}"
epec_2019 = fromCSVtoDF(path2019)
epec_2020 = fromCSVtoDF(path2020)

In [32]:
epecAWS = epec_2019.append(epec_2020, sort=False)

In [33]:
epecAWS

                          Estacion  Temp
date
2019-01-01 00:00:00        CORDOBA  23.7
2019-01-01 00:00:00    CORDOBA OBS  26.8
2019-01-01 00:00:00      LABOULAYE  23.7
2019-01-01 00:00:00  MARCOS JUAREZ  23.7
2019-01-01 00:00:00     PILAR OBS.  26.3
...                            ...   ...
2020-08-28 11:00:00      LABOULAYE  15.9
2020-08-28 11:00:00  MARCOS JUAREZ  16.3
2020-08-28 11:00:00     PILAR OBS.  17.4
2020-08-28 11:00:00     RIO CUARTO  17.6
2020-08-28 11:00:00  VILLA DOLORES  17.0

[97068 rows x 2 columns]

In [39]:
set(epecAWS['Estacion'].tolist())

{'CORDOBA',
 'CORDOBA OBS',
 'LABOULAYE',
 'MARCOS JUAREZ',
 'PILAR OBS.',
 'RIO CUARTO',
 'VILLA DOLORES',
 'VILLA MARIA DEL RIO SECO',
 nan}

In [36]:
emas = set(epecAWS['Estacion'].tolist())

In [47]:
for ema in emas:
    if pd.notnull(ema):
        temp = epecAWS.loc[epecAWS['Estacion'] == ema]
        temp.to_pickle(f"../pickles/{ema}_aws.pkl")

In [35]:
epecAWS.loc[epecAWS['Estacion'] == 'CORDOBA OBS']

                        Estacion  Temp
date
2019-01-01 00:00:00  CORDOBA OBS  26.8
2019-01-01 01:00:00  CORDOBA OBS  26.2
2019-01-01 02:00:00  CORDOBA OBS  25.4
2019-01-01 03:00:00  CORDOBA OBS  25.2
2019-01-01 04:00:00  CORDOBA OBS  24.6
...                          ...   ...
2020-08-28 07:00:00  CORDOBA OBS   5.7
2020-08-28 08:00:00  CORDOBA OBS   5.2
2020-08-28 09:00:00  CORDOBA OBS   8.5
2020-08-28 10:00:00  CORDOBA OBS  13.8
2020-08-28 11:00:00  CORDOBA OBS  17.0

[14411 rows x 2 columns]