In [1]:
import pandas as pd

In [2]:
# definitions
base = '/home/sagus/Development/datasets/'
filename = 'omixom_LH.csv'

In [3]:
try:
    csv_data = pd.read_csv(f"{base}{filename}")
except IOError:
    print("Error: File does not appear to exist.")

In [4]:
dfData = pd.DataFrame(dtype=float)
dfData['date'] = pd.to_datetime(csv_data['Fecha'],format='%d-%m-%Y %H:%M')
# dfData['ppn'] = csv_data['Registro de Lluvia [mm]']
dfData['Temp'] = csv_data['Temperatura [°C]']

In [5]:
dfData['Temp'] = dfData['Temp'].astype(float)

In [6]:
data = dfData.groupby([dfData["date"].dt.year, dfData["date"].dt.month, dfData["date"].dt.day, dfData["date"].dt.hour]).mean()

In [7]:
data = data.astype(float)

In [8]:
data

                          Temp
date date date date
2019 6    1    0     10.418333
               1     10.506667
               2     10.660000
               3     10.643333
               4     10.671667
...                        ...
2020 7    30   19    12.621322
               20    11.327066
               21     9.841442
               22     9.762544
               23     9.515780

[10023 rows x 1 columns]

In [9]:
dfData

                     date       Temp
0     2019-06-01 00:00:00  10.380000
1     2019-06-01 00:10:00  10.380000
2     2019-06-01 00:20:00  10.410000
3     2019-06-01 00:30:00  10.410000
4     2019-06-01 00:40:00  10.440000
...                   ...        ...
60102 2020-07-30 23:10:00   9.504029
60103 2020-07-30 23:20:00   9.504029
60104 2020-07-30 23:30:00   9.554389
60105 2020-07-30 23:40:00   9.403309
60106 2020-07-30 23:50:00   9.473813

[60107 rows x 2 columns]

In [ ]:
indexer=dfData['date'].str.match('20[1-2][9-0]-\d{2}\/\d{4}$')

In [10]:
dfTest = dfData.set_index('date')

In [12]:
dfTest.to_pickle('../pickles/lh_ema')